<div class="copyright">
    <div class="container visible-xs">
        <div class="social-icon-round">
            <ul>
                <li><a class="icon fa fa-facebook" href="http://www.facebook.com/"></a></li>
                <li><a class="icon fa fa-twitter" href="http://www.twitter.com/"></a></li>
                <li><a class="icon fa fa-google-plus" href="http://www.google.com/"></a></li>
                <li><a class="icon fa fa-instagram" href="https://instagram.com/"></a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="pull-right">
            <div class="payment-list">
                <ul>
                    <li><a class="icon-01" href="#"></a></li>
                    <li><a class="icon-02" href="#"></a></li>
                    <li><a class="icon-03" href="#"></a></li>
                    {#
                    <li><a class="icon-04" href="#"></a></li>
                    <li><a class="icon-05" href="#"></a></li>
                    <li><a class="icon-06" href="#"></a></li>
                    <li><a class="icon-07" href="#"></a></li>
                    <li><a class="icon-08" href="#"></a></li>#}
                </ul>
            </div>
        </div>
        <div class="pull-left">
            <div class="box-copyright">
                <a href="">Dar Nawal</a> &copy; {{ date('now')|date('Y') }}. <span>All Rights Reserved.</span>
            </div>
        </div>
    </div>
</div>