<meta charset="utf-8">
<title>{% block title %}Dar Nawal{% endblock %}</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" type="image/x-icon" href="{{ asset('assets/frontend/favicon.ico') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block stylesheets %}
    {% include 'frontend/partials/layout_1/_stylesheets.html.twig' %}
{% endblock %}