
<title>{% block title %}Homepage - Dar Nawal{% endblock %}</title>
<meta name="keywords" content="Dar, Nawal, Caftan, Couture, Moroccan, Kaftan">
<meta name="description" content="Dar Nawal is a moroccan brand based on traditional couture">

{% block stylesheets %}
    {% include 'frontend/partials/layout_1/_stylesheets.html.twig' %}
{% endblock %}