<div class="container">
    <h2 class="block-title">LATEST NEWS</h2>
    <div class="row">
        <div class="carousel-products-mobile blog-thumb-listing">
            <div class="col-xs-6 col-sm-4">
                <div class="blog-thumb">
                    <a class="img" href="">
                        <img src="{{ asset('assets/frontend/images/custom/img_03.jpg') }}" alt="">
                    </a>
                    <a class="title" href="">Resposive/Retina ready.</a>
                    <p class="data">
                        by <a href="#">MyShop</a> on May <b>9, 2016</b>
                    </p>
                    <p>
                        The highest responsiveness level. Your website will look crisp and amazing on any device. No matter what kind of display you are using. Test it.
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="blog-thumb">
                    <a class="img" href="">
                        <img src="{{ asset('assets/frontend/images/custom/img_02.jpg') }}" alt="">
                    </a>
                    <a class="title" href="">Top Notch SEO  perfomance. </a>
                    <p class="data">
                        by <a href="#">MyShop</a> on May <b>9, 2016</b>
                    </p>
                    <p>
                        The highest responsiveness level. Your website will look crisp and amazing on any device. No matter what kind of display you are using. Test it.
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="blog-thumb">
                    <a class="img" href="">
                        <img src="{{ asset('assets/frontend/images/custom/img_01.jpg') }}" alt="">
                    </a>
                    <a class="title" href="">Fully <br>customizable.</a>
                    <p class="data">
                        by <a href="#">MyShop</a> on May <b>9, 2016</b>
                    </p>
                    <p>
                        The highest responsiveness level. Your website will look crisp and amazing on any device. No matter what kind of display you are using. Test it.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>