<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="mobile-collapse">
                <h4 class="mobile-collapse_title visible-xs">SHIPPING</h4>
                <div class="mobile-collapse_content">
                    <a href="#" class="services-block">
                        <span class="icon icon-airplanemode_active"></span>
                        <div class="title">Shipping</div>
                        <p>Free shipping for gulf countries</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="mobile-collapse">
                <h4 class="mobile-collapse_title visible-xs">SECURED SHOPPING</h4>
                <div class="mobile-collapse_content">
                    <a href="#" class="services-block">
                        <span class="icon icon-security"></span>
                        <div class="title">Secured Shopping</div>
                        <p>We use the best security features (PayPal)</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="mobile-collapse">
                <h4 class="mobile-collapse_title visible-xs">FREE RETURNS</h4>
                <div class="mobile-collapse_content">
                    <a href="#" class="services-block">
                        <span class="icon icon-assignment_return"></span>
                        <div class="title">Free Returns</div>
                        <p>Return within 48H</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>