<div class="container-fluid">
    <div class="row">
        <div class="subscribe-box-01">
            <div class="container">
                <div class="row mobile-collapse">
                    <h4 class="mobile-collapse_title visible-xs">GET THE LATEST NEWS DELIVERED DAILY!</h4>
                    <div class="mobile-collapse_content">
                        <div class="col-md-12 col-lg-7">
                            <div class="title hidden-xs">GET THE LATEST NEWS DELIVERED DAILY!</div>
                            <p>
                                Give us your email and you will be daily updated with the latest events, in detail!
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-5">
                            <form class="form-inline">
                                <label class="sr-only" for="email">Email</label>
                                                        <span class="addon-icon">
                                                        <span class="icon icon-email"></span>
                                                        </span>
                                <input type="email" class="form-control addon-icon" id="email" placeholder="Enter please your e-mail">
                                <a href="#" class="btn btn-inversion">SUBSCRIBE</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>