{% extends 'frontend/index.html.twig' %}

{% block head %}
    <title>{% block title %}Our Story{% endblock %}</title>
    <meta name="keywords" content="Dar, Nawal, Caftan, Couture, Moroccan, Kaftan">
    <meta name="description" content="Dar Nawal is a moroccan design of Kaftans, and other traditional clothes">
    {% block stylesheets %}
        {% include 'frontend/partials/layout_1/_stylesheets.html.twig' %}
    {% endblock %}
{% endblock %}

{% block body %}
    {% block loader %}
        {% include 'frontend/partials/layout_1/_loader.html.twig' %}
    {% endblock %}

    {% block menu %}
        {% include 'frontend/partials/layout_1/_menu.html.twig' %}
    {% endblock %}

    {% block header %}
        {% include 'frontend/partials/layout_1/_header.html.twig' %}
    {% endblock %}

    {% block breadcrumb %}
        <div class="breadcrumb">
            <div class="container">
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li>Our Story</li>
                </ul>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <!-- Content -->
        <div id="pageContent">

            {% block slider %}
                <div class="container-fluid box-about offset-0">
                    <div class="row">
                        <div class="col-md-5 col-lg-6 img">
                            <img src="{{ asset('assets/frontend/images/logo-full.png') }}" alt="Dar Nawal">
                        </div>
                        <div class="col-md-7 col-lg-6 box-about-content">
                            <h1 class="block-title large">Our Story</h1>
                            <div class="description">
                                Dar Nawal is your online gateway to authentic and exclusive handmade pieces all the way from Morocco.
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>
                                        My father, is my inspiration, and the main motivator. If it was not for him, I would not have travelled the world and been introduced to different cultures. All of them were unique, but nothing captivated me like the mesmerizing culture of Morocco.
                                    </p>
                                </div>
                                <div class="col-lg-12">
                                    <p>
                                        Marrakech, is the most exotic city in Morocco. It is known as the “The City of Colours”. The history of Marrakech vivid in every corner of this beautiful city. From it’s enchanting pink houses, to its landmark bazaars and handmade delicates.
                                    </p>
                                </div>
                                <div class="col-lg-12">
                                    <p>
                                        A journey worth living and is captured through this website. Whereby our guests will be taken through a luminous journey offering you exclusive handmade items.
                                    </p>
                                </div>
                                <div class="col-lg-12">
                                    <p>
                                        The fashionable kaftan available online, are exclusively sold on this website. As the creator of Dar Nawal, Mrs. Nawal Al-Settah, is the sole designer and the mastermind behind this thirving business.
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <ul class="list">
                                <li>Address : Kuweit</li>
                                <li>Phone: 00965-9968-7577</li>
                                {#<li>Fax: +777 2345 7886</li>#}
                                <li>Hours: 5 Days a week from 10:00 am to 6:00 pm</li>
                                <li>E-mail: <a href="mailto:info@darnawal.com">info@darnawal.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block promo %}
                {#{% include 'frontend/partials/layout_1/_promo.html.twig' %}#}
            {% endblock %}

            {% block collections %}
                {#{% include 'frontend/partials/layout_1/_collections.html.twig' %}#}
            {% endblock %}

            {% block features %}
                {#{% include 'frontend/partials/layout_1/_features.html.twig' %}#}
            {% endblock %}
        </div>
    {% endblock %}

    {% block footer %}
        {% include 'frontend/partials/layout_1/_footer.html.twig' %}
    {% endblock %}

    {% block modal %}
        {% include 'frontend/partials/layout_1/_modal.html.twig' %}
    {% endblock %}


    {% block javascripts %}
        {% include 'frontend/partials/layout_1/_javascript.html.twig' %}
    {% endblock %}

{% endblock %}