<div class="headerbar">

    <a class="menutoggle"><i class="fa fa-bars"></i></a>

    <form class="searchform" action="#" method="post">
        <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
    </form>

    {% block headerRight %}
        {% include 'backend/partials/_headerRight.html.twig' with {'user': user }  %}
    {% endblock %}
</div><!-- headerbar -->