<div class="leftpanelinner">

    {% block sideBarProfile %}
        {% include 'backend/partials/_sideBarProfile.html.twig' %}
    {% endblock %}

    {% block sideBarNavigation %}
        {% include 'backend/partials/_sideBarNavigation.html.twig' %}
    {% endblock %}

    {% block sideBarInfoSummary %}
        {% include 'backend/partials/_sideBarInfoSummary.html.twig' %}
    {% endblock %}

</div><!-- leftpanelinner -->
