<div class="leftpanel">

    {% block logo %}
        <div class="logopanel">
            <h1><span>[</span> LouDiGlamOr <span>]</span></h1>
        </div><!-- logopanel -->
    {% endblock %}

    {% block leftPanelInner %}
        {% include 'backend/partials/_leftPanelInner.html.twig' %}
    {% endblock %}
</div><!-- leftpanel -->
