<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}
        {% include 'frontend/partials/layout_1/_head.html.twig' %}
    {% endblock %}

</head>
<body>

{% block body %}
    {% include 'frontend/partials/layout_1/_body.html.twig' %}
{% endblock %}

</body>
</html>