{% extends 'frontend/index.html.twig' %}

{% block head %}
    <title>{% block title %}Return & Refund Policy{% endblock %} - Dar Nawal</title>
    <meta name="keywords" content="Dar, Nawal, Caftan, Couture, Moroccan, Kaftan">
    <meta name="description"
          content="Dar Nawal has the page of return and refund policy, you will find here our policy about Returns,
                   Refunds and Shipping."
    >

    {% block stylesheets %}
        {% include 'frontend/partials/layout_1/_stylesheets.html.twig' %}
    {% endblock %}
{% endblock %}

{% block body %}
    {% block loader %}
        {% include 'frontend/partials/layout_1/_loader.html.twig' %}
    {% endblock %}

    {% block menu %}
        {% include 'frontend/partials/layout_1/_menu.html.twig' %}
    {% endblock %}

    {% block header %}
        {% include 'frontend/partials/layout_1/_header.html.twig' %}
    {% endblock %}

    {% block breadcrumb %}
        <div class="breadcrumb">
            <div class="container">
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li>Refund & Return Policy</li>
                </ul>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <!-- Content -->
        <div id="pageContent">

            {% block slider %}
                <div class="container offset-18">
                    <h1 class="block-title large">Refund & Return Policy</h1>

                    <div class="offset-36" style="padding: 0 15%;">
                        <h6>
                            Thanks for shopping at Dar Nawal.
                            <br>
                            If you are not entirely satisfied with your purchase, we're here to help.
                        </h6>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="box-faq">
                                    <a class="title" href="#">Returns</a>
                                    {#<ul class="list-simple-dot">
                                    <li>
                                        <a href="#">
                                            You have 48 hour to declare that you wan to return an item from the date you received it.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            To be eligible for a return, your item must be unused and in the same condition that you received it.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Your item must be in the original packaging.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Your item needs to have the receipt or proof of purchase.
                                        </a>
                                    </li>
                                    </ul>#}
                                    <p>
                                        With Dar Nawal you have the right to return or exchange your purchased you just need to follow our conditions :
                                    </p>
                                    <ol>
                                        <li>Returned items must be in their original packaging, new, unused and of course still with the price tag</li>
                                        <li>Returns that are damaged, soiled or alerted will not gonna be accepted</li>
                                        <li>Items for exchange like Kaftan, Dara3a or any ready to wear will replace for the same size</li>
                                        <li>All shoes must be tried on carpet, with no mark and not damaged</li>
                                        <li>Your refund will be within maximum 5 working days</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="box-faq">
                                    <a class="title" href="#">Refunds</a>
                                    <p>
                                        Your refund will be in maximum 5 working days.
                                    </p>
                                </div>
                            </div>
                            {#<div class="col-md-6 col-sm-12">
                                <div class="box-faq">
                                    <a class="title" href="#">Shipping</a>
                                    <p>
                                        You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non­refundable.
                                        <br/>
                                        If you receive a refund, the cost of return shipping will be deducted from your refund.
                                    </p>
                                </div>
                            </div>#}
                            <div class="col-md-6 col-sm-12">
                                <div class="box-faq">
                                    <a class="title" href="#">Contact Us</a>
                                    <p>
                                        If you have any questions or concerns on how to refund or return don't hesitate to,
                                        <a href="{{ path('contact_index') }}">
                                            contacts us
                                        </a>
                                        .
                                    </p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block promo %}
                {#{% include 'frontend/partials/layout_1/_promo.html.twig' %}#}
            {% endblock %}

            {% block collections %}
                {#{% include 'frontend/partials/layout_1/_collections.html.twig' %}#}
            {% endblock %}

            {% block features %}
                {#{% include 'frontend/partials/layout_1/_features.html.twig' %}#}
            {% endblock %}
        </div>
    {% endblock %}

    {% block footer %}
        {% include 'frontend/partials/layout_1/_footer.html.twig' %}
    {% endblock %}

    {% block modal %}
        {% include 'frontend/partials/layout_1/_modal.html.twig' %}
    {% endblock %}


    {% block javascripts %}
        {% include 'frontend/partials/layout_1/_javascript.html.twig' %}
    {% endblock %}

{% endblock %}